
/* normal card setup */

.card {
	position: relative;
	display: inline-block;
	width : 606px;
	height : 890px;
	font-size: 30px;
	overflow: hidden;
}

.card p {
	margin: 0;
}

.card > img {
	position: absolute;
	
	left : 0;
	top: 0;
	height: 100%;
}

.card .mainimg {
	position: absolute;
	
	left : 30px;
	right: 30px;
	top: 150px;
	height: 380px;
}

.card .mainimg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .title {
	position: absolute;
	
	left: 40px;
	right : 40px;
	top: 40px;
}

.card .title .name {
	font-size: 60px;
	/* text-shadow: 2px 0px #989; */
}

.card .title div {
	position: relative;
	top: 6px;
}

.card .title .type {
	float: left;
	font-size: 25px;
	/* text-shadow: 1px 0px #989; */
}

.card .title .cost {
	float: right;
	/* text-shadow: 1px 0px #989; */
}

.card .description {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	
	left : 45px;
	right : 45px;
	top: 560px;
	bottom: 110px;
}

.card .description .lore {
	font-style: italic;
}

/* fullart card setup */


.card.fullart .mainimg {
	width: 100%;
	height: 100%;
	top: 0;
	border-radius: 50px;
}

.card.fullart .title {
	left: 120px;
	right : 120px;
	top: 80px;
	line-height: 0.8;
}

.card.fullart .description {
	left: 110px;
	right: 110px;
	top: 590px;
	bottom: 80px;
	color: white;
}